.App {
  text-align: center;
}
.title {
  background-color: black;
  color: white;
  font-size: 2rem;
}
.subtitle {
}
.row:after {
  content: "";
  display: table;
  clear: both;
  font-size: 15rem;
}
.col {
  float: left;
  width: 50%;
}
.left {
  width: 65%;
}
.right {
  width: 35%;
}
.box {
  border: 1px solid #f52878;
  margin: 5rem;
}
