.App {
  text-align: center;
}
.title {
  background-color: black;
  color: white;
  font-size: 2rem;
}
.subtitle {
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  width: 50%;
}
.left {
  width: 65%;
}
.right {
  width: 35%;
}
.box {
  border: 1px solid #f52878;
  margin: 5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: center;
  font-size: 2rem;
}
.mapBtn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.btn:hover {
  background-color: #f52878;
}
